.application {
  grid-column-start: 1;
  grid-column-end: 3;
  column-gap: 113px;
  width: 100%;
  grid-template-rows: 100px 25px 100px 25px 1fr;

  &__form {
    margin: 100px 0 0 0;
  }

  &__foto {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
    display: block;
    width: 600px;
    height: 800px;
  }

  &__title {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: flex-end;
    margin: 0;
    text-align: center;
  }

  &__subtitle {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: end;
    margin: 0 113px 0 0;
  }
}